/*********
Custom CSS
**********/
header .logo:before {
    background-position: -127px -124px;
    width: 8.5rem;
}

header .shopping-cart-icon:before {
    background-position: -368px -236px;
}

header .search-icon:before {
    background-position: -232px -281px;
}

.social ul .facebook:before {
    background-position: -325px -41px;
}

.social ul .twitter:before {
    background-position: 0 -241px;
}

.social ul .youtube:before {
    background-position: 4px -200px;
    width: 65px;
}

.social ul .instagram:before {
    background-position: -325px 0;
}

.lightbox__overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
}

.lightbox__content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 75%;
    max-width: 750px;
    text-align: center;
    padding: 25px;
}

.lightbox__content p {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 2px;
}

.lightbox__content header {
    position: relative;
    height: 50px;
    border-bottom: none;
    box-shadow: none;
    margin-bottom: 25px;
}

.lightbox__content header .logo {
    float: none
}

.lightbox__content .location-chooser {
    padding: 10px;
}

.lightbox__content .location-chooser a {
    display: block;
    margin-bottom: 15px;
}

@media ( min-width: 48em ) {
    header .logo:before {
        background-position: -4px -124px;
        width: 12.2rem;
    }

    .lightbox__content header .logo::before {
        background-position: -128px -124px;
        width: 84px;
        height: 53px;
    }

    .lightbox__content p {
        font-size: 28px;
    }

    .lightbox__content .location-chooser a {
        margin-bottom: 0;
    }

    .lightbox__content .location-chooser a:first-child {
        float: left;
    }

    .lightbox__content .location-chooser a:last-child {
        float: right;
        margin-right: -55px;
    }
}

/************
Store Locator
*************/
#wpsl-wrap ul li {
    cursor: pointer;
}

#wpsl-wrap ul li.wpsl-preloader:hover {
    background: transparent;
    cursor: default;
}

#wpsl-wrap ul li:not(.wpsl-preloader):hover {
    background: #409eff;
}

#wpsl-wrap ul li:hover a,
#wpsl-wrap ul li:hover p {
    color: #fff;
}

#wpsl-wrap .wpsl-directions {
    text-decoration: underline;
}

#wpsl-wrap #wpsl-search-btn {
    background: #409eff;
    color: #fff;
}

/**************
FindA Dealer UK
***************/
.find-a-dealer-uk .find.grid-item {
    position: relative;
}

.find-a-dealer-uk .find.grid-item h2 {
    position: absolute;
    bottom: -1px;
    text-transform: uppercase;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5;
    background: #fff;
    text-align: center;
    font-family: Rajdhani,sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    width: 100%;
}

.find-a-dealer-uk .find.grid-item:hover h2 {
    color: #409eff;
}
